Repository Straxtur/weatherDashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --loglevel warn, eslint --fix --ext .ts,.tsx,.js,.jsx --color

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write --loglevel warn",
    "eslint --fix --ext .ts,.tsx,.js,.jsx --color"
  ],
  "*.{json,css,scss,md,html}": ["prettier --write --loglevel warn"]
}

Add changes
  .vscode/settings.json
Due: prettier --write --loglevel warn

Actualizar configuración de lint-staged para mejorar el formateo y la corrección de errores
  .lintstagedrc.json
Due: prettier --write --loglevel warn

missing file to upload
  .husky/pre-commit
Due: none

Actualizar configuración de Prettier y ESLint para unificar el estilo de código y mejorar la compatibilidad con JSON
  .husky/pre-commit
  .prettierignore
  .prettierrc
  .vscode/settings.json
  eslint.config.js
Due: prettier --write --loglevel warn, eslint --fix --ext .ts,.tsx,.js,.jsx --color

Agregar soporte para Tailwind CSS, crear un nuevo componente Layout y aplicar estilos de fondo en main.css
  package.json
  pnpm-lock.yaml
  public/image.jpg
  src/App.tsx
  src/Layouts/Layout.tsx
  src/main.css
  src/main.tsx
  vite.config.ts
Due: prettier --write --loglevel warn, eslint --fix --ext .ts,.tsx,.js,.jsx --color

Agregar plugin de Tailwind CSS a la configuración de Prettier y ajustar reglas de ESLint
  .prettierrc
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: prettier --write --loglevel warn, eslint --fix --ext .ts,.tsx,.js,.jsx --color

Agregar configuración de alias en Vite y ajustar resoluciones en TypeScript para mejorar la importación de módulos
  eslint.config.js
  tsconfig.node.json
  vite.config.ts
Due: prettier --write --loglevel warn, eslint --fix --ext .ts,.tsx,.js,.jsx --color

Agregar nuevos componentes de clima, imágenes y estilos para mejorar la visualización del clima
  package.json
  pnpm-lock.yaml
  public/bgImages/cyber-city.jpg
  public/bgImages/nun.jpg
  public/snow.png
  public/sun/sun.png
  public/thunder.png
  src/App.tsx
  src/Layouts/Layout.tsx
  src/components/WeatherChart/WeatherChart.tsx
  src/components/WeatherList/WeatherList.tsx
  src/components/icons/Drop.tsx
  src/components/icons/Sun.tsx
  src/components/icons/Wind.tsx
  src/components/shared/IconWithText.tsx
  src/components/weather/Weather.tsx
  src/components/weather/WeatherCarousel.tsx
  src/components/weather/WeatherDetails.tsx
  src/main.css
Due: prettier --write --loglevel warn, eslint --fix --ext .ts,.tsx,.js,.jsx --color

Agregar componentes CaretLeft y CaretRight, y mejorar la navegación en el componente Weather
  src/components/icons/CaretLeft.tsx
  src/components/icons/CaretRight.tsx
  src/components/weather/Weather.tsx
  src/main.css
Due: prettier --write --loglevel warn, eslint --fix --ext .ts,.tsx,.js,.jsx --color

Agregar soporte para Axios, crear cliente API y mock de datos meteorológicos
  .gitignore
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/components/weather/Weather.tsx
  src/mocks/weather.json
  src/mocks/weatherForecast.json
  src/services/apiClient.ts
  src/services/weather.ts
Due: prettier --write --loglevel warn, eslint --fix --ext .ts,.tsx,.js,.jsx --color

Agregar soporte para React Query y refactorizar la gestión del clima
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/components/WeatherList/WeatherList.tsx
  src/components/weather/Weather.tsx
  src/main.tsx
  src/services/apiClient.ts
  src/services/weather/weather.api.ts
  src/services/weather/weather.query.ts
  src/types/api/weather.ts
  src/utils/constants.ts
Due: prettier --write --loglevel warn, eslint --fix --ext .ts,.tsx,.js,.jsx --color

Refactor la gestión del clima: renombrar hooks, mejorar manejo de errores y agregar mapeo de errores de Axios
  src/components/WeatherList/WeatherList.tsx
  src/services/apiClient.ts
  src/services/weather/weather.api.ts
  src/services/weather/weather.query.ts
  src/utils/constants.ts
Due: prettier --write --loglevel warn, eslint --fix --ext .ts,.tsx,.js,.jsx --color

Agregar interfaz CustomError y mejorar el manejo de errores en la API del clima
  src/services/weather/weather.api.ts
  src/types/errors/errors.d.ts
Due: prettier --write --loglevel warn, eslint --fix --ext .ts,.tsx,.js,.jsx --color

Agregar componente WeatherCard, iconos de añadir y cerrar, y mejorar el estilo de la lista de clima
  src/components/WeatherList/WeatherCard.tsx
  src/components/WeatherList/WeatherList.tsx
  src/components/icons/Add.tsx
  src/components/icons/Cross.tsx
  src/main.css
Due: prettier --write --loglevel warn, eslint --fix --ext .ts,.tsx,.js,.jsx --color

Agregar componente Modal y FormLocation para búsqueda de ubicaciones, mejorar gestión de estado y manejo de errores en WeatherList
  index.html
  src/components/WeatherList/FormLocation.tsx
  src/components/WeatherList/WeatherList.tsx
  src/components/shared/Modal.tsx
  src/hooks/modal/useOutsideClick.ts
  src/services/weather/weather.api.ts
  src/services/weather/weather.query.ts
  src/types/api/weather.ts
Due: prettier --write --loglevel warn, eslint --fix --ext .ts,.tsx,.js,.jsx --color

Agregar componentes ModalLocation y LocationCard, refactorizar WeatherList y WeatherCard, y mejorar el manejo de estado y errores en la búsqueda de ubicaciones
  src/components/WeatherList/FormLocation.tsx
  src/components/WeatherList/LocationCard.tsx
  src/components/WeatherList/ModalLocation.tsx
  src/components/WeatherList/WeatherCard.tsx
  src/components/WeatherList/WeatherList.tsx
  src/services/weather/weather.api.ts
Due: prettier --write --loglevel warn, eslint --fix --ext .ts,.tsx,.js,.jsx --color

Eliminar imágenes obsoletas y agregar nuevos formatos de clima en formato WebP
  public/bgImages/cyber-city.jpg
  public/bgImages/cyber-city.webp
  public/bgImages/nun.jpg
  public/snow.png
  public/sun/sun.png
  public/thunder.png
  public/weathers/cloudy.webp
  public/weathers/partialCloudy.webp
  public/weathers/rainy.webp
  public/weathers/snow.webp
  public/weathers/snowRainy.webp
  public/weathers/snowThunder.webp
  public/weathers/sun.webp
  public/weathers/thunder.webp
  public/weathers/thunderRainy.webp
Due: none

Actualizar formato de imagen de fondo a WebP, eliminar archivo de datos de clima obsoleto, y refactorizar la gestión de estado en los componentes de clima.
  src/Layouts/Layout.tsx
  src/components/WeatherList/WeatherCard.tsx
  src/components/WeatherList/WeatherList.tsx
  src/mocks/weather.json
  src/mocks/weather.ts
  src/services/weather/weather.query.ts
  src/types/api/weather.ts
  src/utils/weatherHelper.ts
Due: prettier --write --loglevel warn, eslint --fix --ext .ts,.tsx,.js,.jsx --color

Refactor WeatherList para usar useLocalStorage en lugar de estado local para la gestión de datos meteorológicos
  src/components/WeatherList/WeatherList.tsx
Due: prettier --write --loglevel warn, eslint --fix --ext .ts,.tsx,.js,.jsx --color

Agregar hook useLocalStorage para gestionar el estado persistente en localStorage
  src/hooks/common/useLocalStorage.tsx
Due: prettier --write --loglevel warn, eslint --fix --ext .ts,.tsx,.js,.jsx --color

Refactor gestión del clima: agregar formateo de fecha, mejorar detalles del clima y ajustar componentes para usar datos de pronóstico
  src/App.tsx
  src/components/WeatherList/WeatherList.tsx
  src/components/weather/Weather.tsx
  src/components/weather/WeatherCarousel.tsx
  src/components/weather/WeatherDetails.tsx
  src/services/weather/weather.api.ts
  src/services/weather/weather.query.ts
  src/types/api/weather.ts
  src/utils/weatherHelper.ts
Due: prettier --write --loglevel warn, eslint --fix --ext .ts,.tsx,.js,.jsx --color

Refactor WeatherCard: mejorar diseño y estructura, agregar etiquetas para la temperatura y ubicación, y ajustar clases CSS para una mejor presentación
  src/components/WeatherList/WeatherCard.tsx
Due: prettier --write --loglevel warn, eslint --fix --ext .ts,.tsx,.js,.jsx --color

Agregar componente Clock para mostrar la hora actual y ajustar el diseño del Layout
  src/App.tsx
  src/Layouts/Layout.tsx
  src/components/WeatherList/WeatherCard.tsx
  src/components/shared/Clock.tsx
Due: prettier --write --loglevel warn, eslint --fix --ext .ts,.tsx,.js,.jsx --color

Agregar soporte para gráficos de clima: integrar Chart.js y react-chartjs-2, crear contexto para el clima actual y ajustar el diseño del Layout y WeatherList
  package.json
  pnpm-lock.yaml
  src/Layouts/Layout.tsx
  src/components/WeatherChart/WeatherChart.tsx
  src/components/WeatherList/WeatherList.tsx
  src/components/weather/Weather.tsx
  src/context/WeatherContext.tsx
  src/main.tsx
  src/utils/charts/weather.tsx
  src/utils/format.ts
Due: prettier --write --loglevel warn, eslint --fix --ext .ts,.tsx,.js,.jsx --color

Mejorar precisión del viento en WeatherDetails: redondear el valor de maxwind_kph antes de mostrarlo
  src/components/weather/WeatherDetails.tsx
Due: prettier --write --loglevel warn, eslint --fix --ext .ts,.tsx,.js,.jsx --color

Agregar intervalo de actualización para el clima: establecer refetchInterval a 60 segundos en useWeather y useWeatherDetails
  src/mocks/weatherForecast.json
  src/services/weather/weather.query.ts
Due: prettier --write --loglevel warn, eslint --fix --ext .ts,.tsx,.js,.jsx --color

Optimizar estilo de la tarjeta de vidrio: aplicar efecto de desenfoque con Tailwind CSS y eliminar propiedades de filtro redundantes
  src/main.css
Due: prettier --write --loglevel warn

Agregar soporte para Vercel Analytics: instalar el paquete y renderizar el componente en la aplicación
  package.json
  pnpm-lock.yaml
  src/main.tsx
Due: prettier --write --loglevel warn, eslint --fix --ext .ts,.tsx,.js,.jsx --color

Ajustar diseño del gráfico del clima: aumentar el ancho del contenedor a 400px y reducir el tamaño del texto del nombre de la ubicación en el carrusel del clima
  src/components/WeatherChart/WeatherChart.tsx
  src/components/weather/WeatherCarousel.tsx
Due: prettier --write --loglevel warn, eslint --fix --ext .ts,.tsx,.js,.jsx --color

Actualizar favicon y mejorar metadatos de la aplicación: reemplazar vite.svg por favIcon.svg y agregar etiquetas Open Graph
  index.html
  public/favIcon.svg
  public/vite.svg
Due: prettier --write --loglevel warn

Agregar archivo de licencia MIT y actualizar README con descripción del proyecto y guía de instalación
  LICENSE
  README.md
Due: prettier --write --loglevel warn

Ajustar altura mínima del contenedor del clima a 300px para mejorar la presentación
  src/components/WeatherList/WeatherList.tsx
Due: prettier --write --loglevel warn, eslint --fix --ext .ts,.tsx,.js,.jsx --color
